.container {
  margin: auto;
  max-width: 800px;
}

.top {
  padding-top: var(--space-sm);
}

.right {
  padding-right: var(--space-sm);
}

.bottom {
  padding-bottom: var(--space-sm);
}

.left {
  padding-left: var(--space-sm);
}

@media (min-width: 800px) {
  .top {
    padding-top: var(--space-md);
  }
  
  .right {
    padding-right: var(--space-md);
  }
  
  .bottom {
    padding-bottom: var(--space-md);
  }
  
  .left {
    padding-left: var(--space-md);
  }
}
