:root {
  --color-core-lightest: #f4f6ed;
  --color-core-lighter: #ced0c7;
  --color-core-light: #a8aaa1;
  --color-core: #82847b;
  --color-core-dark: #5c5e55;
  --color-core-darker: #35372e;
  --color-core-darkest: #0f1108;

  --color-accent-lightest: #c9ffff;
  --color-accent-lighter: #96ccff;
  --color-accent-light: #6399f1;
  --color-accent: #3066be;
  --color-accent-dark: #00338b;
  --color-accent-darker: #000058;
  --color-accent-darkest: #000025;

  /* 1.25 scaling starting at 1em browser default (usually 16px) */
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.563rem;
  --font-size-4: 1.953rem;
  --font-size-5: 2.441rem;
  --font-size-6: 3.052rem;
  --font-size-7: 3.815rem;
  --font-size-8: 4.768rem;
  --font-size-9: 5.96rem;

  /* 1.563 scaling based on 24px as medium */
  --space-xs: 9px;
  --space-sm: 15px;
  --space-md: 24px;
  --space-lg: 38px;
  --space-xl: 59px;

  --display-font: Anton, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
  background: var(--color-core-darkest);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.563;
  color: var(--color-core-darkest);
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 1.25em;
}

p {
  margin-top: 0;
}

a {
  color: var(--color-accent);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-accent-dark);
}

* {
  box-sizing: border-box;
}

sup,
sub {
  font-size: var(--font-size-0);
}

@media (min-width: 500px) {
  html {
    font-size: 1.1em;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 1.2em;
  }
}
