.title {
  display: block;
  width: 100%;
  color: var(--color-core-darker);
  margin: 0 0 var(--space-sm);
  padding: 0 0 var(--space-sm);
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 20%;
  max-width: 96px;
  border-bottom: 2px solid var(--color-core-light);
  position: absolute;
  left: 0;
  bottom: 0;
}
