.wrapper {
  background: var(--color-core-lightest);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.image {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.small {
  display: flex;
  font-size: var(--font-size-0);
}

.small span + span {
  margin-left: var(--space-micro);
}

.connect {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.subhead {
  margin-right: var(--space-micro);
  margin-bottom: 0;
}
