.list,
.header {
  display: flex;
  flex-wrap: wrap;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.title,
.cover,
.date {
  width: 100%;
  margin: 0 0 var(--space-xs);
}

.title {
  order: 2;
}

.cover {
  order: 1;
}

.date {
  order: 3;
}

@media (min-width: 500px) {
  .cover {
    position: absolute;
    top: 0;
    left: calc(var(--space-sm) * -1);
    max-width: 25%;
    height: 100%;
  }

  .item {
    padding-left: 25%;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  .title {
    /* font-size: var(--font-size-3); */
  }
}

@media (min-width: 800px) {
  .cover {
    left: 0;
  }

  .item {
    padding-left: calc(var(--space-sm) + 25%);
  }
}
