.wrapper {
  position: relative;
  z-index: 0;
  margin-top: calc(var(--space-sm) * -1);
}

.image {
  --image-offset: calc(var(--space-sm) * -1);

  position: relative;
  z-index: -1;
  width: calc(100% + (var(--space-sm) * 2));
  margin: 0 var(--image-offset);
}

.date,
.summary {
  color: var(--color-core-dark);
}

.date {
  font-size: inherit;
}

.summary {
  font-size: var(--font-size-2);
  font-style: italic;
}

.credit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: var(--font-size-0);
  padding: calc(var(--space-xs) / 2) var(--space-xs);
  background: #0f1108aa; /* --color-color-darkest */
  color: var(--color-core-lighter);
}

.credit a {
  color: var(--color-accent-lighter);
}

.credit a:hover,
.credit a:focus {
  color: var(--color-accent-lighter);
}

@media (min-width: 800px) {
  .wrapper {
    margin-top: calc(var(--space-md) * -1);
  }

  .image {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    margin-left: calc(((100vw - 800px) / 2) * -1 - var(--space-md));
  }

  .content {
    max-width: 800px; /* matches container max-width */
  }
}

/*
 * sizing algo above breaks at max image width so making explicit adjusts for the
 * known size
 */
 @media (min-width: 1280px) {
  .image {
    /* 240px = -(image max-width [1280px] - container max-width [800px]) / 2 */
    margin-left: calc(-240px - var(--space-md));
    width: 1280px;
    height: 720px;
  }
}
